name: Elixir CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: elixir:1.12
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Install minimal stable Rust toolchain
      uses: dtolnay/rust-toolchain@stable
    - name: Install dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run tests
      run: mix test
